body {
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.active1{
    background: transparent !important;
    /* color: white !important; */
    border-bottom: 1px solid white !important;
    border-radius: 0px !important;
}

.bg {
    background-image: linear-gradient(to bottom, rgb(8 39 229 / 52%), rgb(60 8 47 / 73%)), url("bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    width: 100%;
}

.about-Us {
    text-align: justify;
    width: 100%;
}

.ab {
    display: flex;
    float: right;
}

.tab {
    margin-right: 20%;
}

/* .img {
    width: 500px;
    object-fit: cover; */
    /* padding-left: 28px; */
/* } */

.fa-magnifying-glass:before,
.fa-search:before {
    content: "\f002";
    margin-right: 20px;
    font-size: xx-large;
    color: black;
    position: relative;
}

.fa-location-dot:before,
.fa-map-marker-alt:before {
    content: "\f3c5";
    font-size: xxx-large;
    color: royalblue;
}

.fa-mobile-alt:before,
.fa-mobile-screen-button:before {
    content: "\f3cd";
    font-size: xxx-large;
    color: royalblue;
}

.fa-envelope-open-text:before {
    content: "\f658";
    font-size: xxx-large;
    color: royalblue;
}

h1 {
    padding-top: 15px;
    display: flex;
    color: white;
    text-align: left;
    font-weight: bolder;
}

.description {
    display: flex;
    text-align: left;
    color: white;
}

.card-title,
.card-text {
    display: flex;
    justify-content: center;
    color: black;
}

h4 {
    padding-left: 10px;
}

.c1 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 38px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.num {
    color: royalblue;
    font-size: xx-large;
    justify-content: center;
    display: flex;
}

.unit {
    color: black;
    display: flex;
    justify-content: center;
}

.card-text {
    font-weight: 400;
}

.aboutus {
    color: black;
    font-weight: 300;
}

.prod{
    /* color: black; */
    text-align: center;
    padding-top: 50px;
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-position: auto;
}

.service-des {
    color: black;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 400;
}

.product-in{
    background-color: royalblue;
    height: auto;
}

.product-about {
    display: flex;
    color: black;
    text-align: center;
    justify-content: center;
}

.product {
    background-color: royalblue;
    background-size: 100% auto;
}

.product-info {
    display: flex;
    justify-content: space-evenly;
}